/* LAYOUT CONTACTO */

.contacto__main--layout{
    @include flexBase(column, nowrap, space-between);
    align-items: stretch;
    min-height: 80vh;
    font-size: calc(0.8em + 1vw);
} /* Layout del main de cntacto */


/* MAIN - CONTACTO */

.textoEncabezadoContacto{
    margin: 0.5rem 1rem;
    align-self: center;
}

.contacto{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: left;
    align-items: center;
    align-self: center;
    &__logo{
        margin: 1rem;
        width: 2.5em;
        filter: invert(0.9); /* invierte colores del icono, valores de 0 - 1 */
    }
    &__texto{
        margin: 0.5rem;
        padding: 0.5rem 0.25rem 0;
        &--cursor{
            cursor: pointer;
        }
    }
}

/* Subrayado con animacion de redes sociales */
.fancy__undeline{
    background-repeat: no-repeat;
    background-size: 100% 0.3em;
    background-position: 0 90%;
    transition: background-size 0.25s ease-in;
    &--face{
        background-image: linear-gradient(120deg, #77A1D3,#79CBCA,#E684AE 100%);
        &:hover {
            background-size: 100% 88% !important;
        }
    }
    &--insta {
        background-image: linear-gradient(120deg, #DA22FF,#9733EE 100%);
        &:hover {
            background-size: 100% 88% !important;
        }
    }
    &--whats {
        background-image: linear-gradient(120deg, #16A085,#F4D03F 100%);
        &:hover {
            background-size: 100% 88% !important;
        }
    }
}

.containerFace{
    margin-bottom: 2rem;
}

.logoWhatsappFooter{
    width: 1.5em;
    margin: 0 0.5rem 0.25rem;
    filter: invert(0.9); /* invierte colores del icono, valores de 0 - 1 */;
}