/* ESTRUCTURA BASICA GENERAL */

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background: linear-gradient(135deg, $colorGradiente1, $colorGradiente2);
    color: whitesmoke;
    font-size: calc(0.8rem + 1vw);
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-style: italic;
}

::selection {
    background-color: $colorSecundario;
}

/* Modifica el color por defecto al seleccionar el texto */


/* LAYOUT GENERAL*/

.all__body--flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Flex para acomodar los hijos del body */


/* HEADER */

.header {
    background-color: $colorPrincipal;

    &__logo {
        width: 30%;
        max-width: 150px;
        border-radius: 100px 20px;
    }

    /* Logo de Shine */
    &__titulo--menu {
        font-size: calc(2rem + 1vw);
    }

    &__li {
        font-size: calc(1.5rem + 1vw);

        &:hover {
            background-color: $colorSecundario;
            padding: 0 0.5rem;
            transition: 0.5s;
        }
    }
}


/* MAIN GENERAL */

.main__div--color {
    background: linear-gradient(135deg, $colorGradiente2, $colorGradiente1);
    width: 90%;
    text-align: center;
    padding: 1rem;
    margin: 1.5rem;
} /* Fondo de color para divs dentro del main */

.main__div--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: space-evenly;
    align-content: space-around;
}

.main__h1 {
    background-color: $colorSecundario;
    font-size: calc(1.5rem + 1.5vw);
    grid-area: main__h1;
    margin-top: 2rem;
    padding: 1rem 2rem;
    justify-self: stretch;
}

.main__h2 {
    text-align: center;
    font-size: calc(1.5rem + 1.5vw);
    margin: 1rem;
}



/* SECTION / ARTICLE */

section,
article {
    text-align: center;
    width: fit-content;
    font-style: italic;
    font-weight: bold;
    margin: 1rem auto 2rem auto;
}

section {
    font-family: 'Indie Flower', cursive;
    font-size: calc(1.5rem + 1vw);
    text-shadow: 2px 2px 5px gold;
    grid-area: section;
}

article {
    border: 0.5rem dashed $colorPrincipal;
    background-color: $colorSecundario;
    padding: 0.5rem;
    font-size: calc(1rem + 1vw);
    grid-area: article;
    span {
        text-decoration: underline;
    }
}


/* FOOTER */

footer {
    padding: 1.2rem;
    background-color: $colorPrincipal;
    text-align: center;
    overflow: hidden;

    span {
        font-weight: bold;
        font-style: italic;
    }

    p:hover {
        transform: scale(1.1, 1.1);
        text-shadow: 3px 3px 3px black;
        transition: 0.5s;
    }

    .logoInstagram {
        width: 1rem;
        margin: 0 0.2rem 0 0.4rem;
    }
}