/* MEDIA QUERIES */

@media screen and (min-width: 481px) and (orientation: landscape) {
    .index__main--layout {
        grid-template-rows: repeat(2, auto);
        grid-row-gap: 1rem;
        grid-template-columns: repeat(2, auto);
        grid-template-areas:
            "main__h1                   main__h1"
            "div__presentacion          main__img--inicio";
    }
}

@media screen and (min-width: 961px) {
    .header__li {
        font-size: calc(0.8rem + 1vw);

        &:hover {
            padding: 0;
        }
    }
    .div__pgs--grupal{
        .pgs__individual{
            max-width: 350px;
        }
    }
}

@media screen and (min-width: 961px) and (orientation: landscape) {
    .header {
        justify-content: space-between;
        &__logo {
            margin: 1rem 0 1rem 5rem;
        }
        &__li {
            margin: 0.2rem;
        }
    }
    .contacto {
        display: inline-block;
        &__texto {
            display: none;
        }
    }
}
@media screen and (min-width: 1024px) and (orientation: landscape){
    .calzado__main--layout{
        grid-template-rows: repeat(4, auto);
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 1rem;
        grid-template-areas:    
            "main__h1 main__h1"
            "main__div--losAngeles main__div--puertoRico"
            "main__div--newYork main__div--chicago"
            "main__div--broadway main__div--broadway";
        justify-items: center;
        align-items: center;
    }
    .main__div--losAngeles{
        justify-self: end;
        margin: 3vw;
    }
    .main__div--puertoRico{
        justify-self: start;
        margin: 3vw;
    }
    .main__div--newYork{
        justify-self: end;
        margin: 3vw;
    }
    .main__div--chicago{
        justify-self: start;
        margin: 3vw;
    }
}